body{
    background: #7E77D6
}
head{
    background: #590378;
}
p   {
    color: rgb(0, 0, 0);
    background: #c4c4c4;
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
}
// h1 {
//     background-color: #a1a1a1;
//   }
h2 {
    background-color: none;
    border: 2px solid black;
    padding-top: -10px;
    margin-top: -2;
    margin-left: -2;
    margin-right: -1;
    
}
div.a {
    background-color: #590378;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 0px;
}
select{
    background: #ffffff;
}
.quiz-selector{
    background: #c4c4c4;
    text-align: center;
    margin-top: 0px;
    margin-left: 60%;
    margin-right: 60%;
    padding-bottom: 40px;
    border: 2px solid black;
    border-top: none;
}



div.mainBox{
    background: #c4c4c4;

}
#currentQues{
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
#questionHeader{
    text-align: center;
}
#chooseCategory{
    text-align: center;
}