head{
    background: #590378; 
}
p {
    color: rgb(0, 0, 0);
    background: #7e77d6;
}
// h1 {
//     background-color: #a1a1a1;
//   }
// h2 {
//     background-color: #29d362;
// }
div.a {
    background-color: #590378;
    text-align: center;
}
